{%extends "contenido/encabezado.html"%}

{% block titulo %} Principal {% endblock %}

{% block contenido %}


<div class="bg-dark m-auto mt-5 " style="width: 500px ;">
    <div class="col">
        <h2 class="text-white text-decoration-underline text-center"><strong>Bievenid@s - Cabañas Los Castores</strong></h2>
    </div>
</div>
</br>
</br>

<div class="container">
    <div class="row">

        
        <div class=" bg-dark col-lg-6 py-4 ">
            <div class="col">
                <h3 class="text-white text-decoration-underline">Nosotros</h3>
                <p class="text-warning" style="text-align: justify;">Le damos la más cálida bienvenida a Cabañas Los Castores, un espacio de distinción y confort ubicado dentro de uno de los más 
                    hermosos bosques del centro de México.
            
                    Queremos agradecerle por elegir nuestro Resort & Spa, donde nuestro principal interés es hacer de su estancia una experiencia 
                    única e inolvidable.
                    
                    La calidad que encontrará en Quinta Los Azufres, no solo se encuentra en nuestras instalaciones, 
                    sino en la atención de excelencia que damos a nuestros visitantes en todo momento, para crear un ambiente de perfecta relajación,
                    paz y tranquilidad.
                    
                    Al hospedarse en nuestras cabañas de lujo podrá descansar en su sala de estar con chimenea, terraza o jacuzzi en su caso, 
                    le recomendamos tomar el tiempo para apreciar las maravillas naturales que rodean nuestro Resort.</p>
            </div>
        </div>
   
  
        <div class=" bg-dark col-lg-6 py-4 ">
            <div class="col">
                <h3 class="text-white text-decoration-underline">Misión:</h3>
                <p class="text-warning" style="text-align: justify;">
                    Somos una empresa comprometida con el servicio excepcional a sus clientes,
                    ofreciendo un espacio para descansar, con parejas y familias, libre de 
                    estrés y romántico dónde cuidamos la elegancia, comodidad y exclusividad que hacen de la mejora constante nuestro rasgo distintivo.
                </p>

                <h3 class="text-white text-decoration-underline">Visión:</h3>
                <p class="text-warning" style="text-align: justify;">
                    En Cabañas Los Castores buscamos ser líderes del Turismo de Montaña de primer nivel, en la zona, 
                    siendo un Resort diferenciado por la calidad de nuestros servicios e instalaciones acogedoras.
                </p>
            </div>
        </div>

  </div>
</div>
</br>
</br>
</br>
</br>
</br>


</br>


    
{% endblock %}

